@model List<SiparisL>

<div class="row">
    <div class="col-md-12">
        <h1 class="h3">Sipariş Kartları </h1>
        <hr />
        <a class="btn btn-primary btn-sm" href="/Siparis/Insert">Yeni Sipariş</a>
        <hr />
        <table id="myTable" class="table table-bordered my-3 table-striped">
            <thead>
                <tr>
                    <td>Sipariş Kodu</td>
                    <td>Kullanıcı Id</td>
                    <td>Cari Adı</td>
                    <td>Cari Adres</td>
                    <td>Cari Telefon</td>
                    <td>Sipariş Tarihi</td>
                    <td>Teslim Terihi</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @if (Model.ToList().Count > 0)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Kod</td>
                            <td>@item.KullaniciId</td>
                            <td>@item.CariAdi</td>
                            <td>@item.CariAdres</td>
                            <td>@item.CariTelefon</td>
                            <td>@item.SiparisTarihi</td>
                            <td>@item.TeslimTarihi</td>
                            <td>
                                <a asp-controller="Siparis" asp-action="SiparisEdit" asp-route-siparisId="@item.Id" class="btn btn-primary btn-sm mr-2">Güncelle</a>
                                <form action="/Siparis/delete" method="post" style="display: inline;">
                                    <input type="hidden" name="SiparisId" value="@item.Id" />
                                    <button type="submit" class="btn btn-danger btn-sm ">Sil</button>
                                </form>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <div class="alert alert-warning ">
                        İlk Siparişinizi oluşturmak İçin Lütfen Yeni Sipariş Butonuna Basınız
                    </div>
                }
            </tbody>

        </table>
    </div>
</div>